<!DOCTYPE html>
<html>
<head>
	<title>Movie App</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<style>

#right_div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  margin-right: 100px;
  min-width: 30%;
  width: 100%;
  margin-right: 100px; 
		}
	</style>
	
<body style="background-color:#8B8B8B; ">

	<div class="container max-1920 px-0" style="background-color:#8B8B8B; ">
		<div class="row ">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background-color:#C7CCCB; ">
         
            <div class="row">
                <nav class="navbar navbar-expand-lg bg-light" style="">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="{% url 'index' %}" style="color: #B86D45; font-weight: bold;">MovieStore</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                      </div>
                    </div>
                  </nav>
            </div>
        

		<h2 style="font-weight: bold; color: #B86D45;" class="text-center pt-2">Download And Watch Unlimited Movies</h2>
		
        <div class="row" style="padding-top: 10%;">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<form>
					<div class="form-group">
						<input class="form-control" type="text" style="border-radius: 20px; height: 50px;" autofocus placeholder="Type To Search">
					</div>
				</form>

                <div id="results" style="padding-top: 10%;"></div>
			</div>
			<div class="col-sm-2"></div>            
		</div>


          <nav class="navbar fixed-bottom navbar-expand-lg" style="background-color: #C7CCCB;">
            <p class="text-center" style="color: #B86D45; font-weight: bold; padding-left: 8%;">
                All rights reserved @ Learn Python 2022
               </p>
          </nav>


		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="display:inline-block;
		padding:0px;
		margin-left:-4px;">
			<img id="right_div" src="img/back.jpg" alt="">
		</div> 
		</div>
	</div>

   
</body>
</html>